* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(23, 29, 23);
}

#container_full {
    width: 960px;
    margin: 0px auto;
    background: #0c1c3d;
    color: #daf5ff;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    margin: 0;
    background: #0c1c3d;
    padding: 10px;
    color: #daf5ff;
}

#header p {
    margin-left: 2px;
    color: #3a81ae;
}

#menuUp {
    width: 960px;
    background-color: black;
    height: 38px;
    border-top: 3px solid #3a81ae;
    border-bottom: 3px solid #3a81ae;
}

#menuUp ul {
    list-style-type: none;
    background-color: black;
}

#menuUp ul li {
    float: left;
    border-right: 1px solid #3a81ae;
}

#menuUp ul li:last-child {
    border: none;
}

#menuUp ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 20px;
    font-family: arial;
}

#menuUp ul li a:hover {
    color: white;
    background-color: green;
}

#menuUp ul li {
    position: relative;
}

#menuUp ul li ul {
    position: absolute;
    left: -99999px;
}

#menuUp ul li:hover ul {
    left: 0px;
}

#menuUp ul li ul li:first-child {
    border-top: 3px solid white;
}

#menuUp ul li li:last-child {
    border-bottom: 3px solid white;
}

#menuUp ul li ul li {
    float: none;
    border-right: none;
    border-bottom: 1px solid white;
    width: 200px;
}

#menuDown ul li {
    float: left;
    border-right: 1px solid #3a81ae;
}

#menuDown ul li:hover {
    background-color: green;
}

#menuDown ul li:last-child {
    border: none;
}

#menuDown ul li a {
    text-decoration: none;
    color: #daf5ff;
    display: block;
}

#menuDown ul li a:hover {
    color: white;
}

#bcImage {
    background: url(image/coding.jpg) no-repeat;
    width: 960px;
    height: 460px;
}

#menuDown {
    width: 960px;
    float: left;
    background-color: black;
    margin-top: 416px;
    border-top: 3px solid #3a81ae;
    border-bottom: 3px solid #3a81ae;
}

#menuDown ul {
    background-color: black;
}

#menuDown ul li {
    list-style-type: none;
    padding: 10px;
    float: left;
}

#menuDown ul li a {
    text-decoration: none;
}

#searchBox {
    margin-top: -33px;
    float: right;
    margin-right: 8px;
}

#searchBox input[type="submit"] {
    background-color: #0c1c3d;
    border-radius: 5px;
    padding: 3px;
    color: white;
}

#searchBox input[type="submit"]:hover {
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 3px;
}

#searchBox input[type="text"] {
    background-color: #0c1c3d;
    border-radius: 5px;
    padding: 3px;
}

#leftSideber ul li:last-child {
    height: 25px;
}

#leftSideber {
    width: 220px;
    float: left;
    background-color: #242a36;
}

#leftSideber h2 {
    background-color: black;
    padding: 10px;
}

#leftSideber ul li {
    list-style-type: none;
    padding: 8px;
}

#leftSideber ul li a {
    text-decoration: none;
    color: #daf5ff;
}

#leftSideber ul li a:hover {
    color: aqua;
}

#rightSideber {
    width: 220px;
    float: right;
    background-color: #242a36;
}

#rightSideber h2 {
    background-color: black;
    padding: 10px;
}

#rightSideber ul li {
    list-style-type: none;
    padding: 8px;
}

#rightSideber ul li a {
    text-decoration: none;
    color: #daf5ff;
}

#rightSideber ul li a:hover {
    color: aqua;
}

#conatctPage input[type="submit"] {
    width: 75px;
    height: 30px;
    color: #fff;
    background: black;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 3px;
}

#conatctPage input {
    margin-block-start: 2px;
    border-radius: 9px;
    padding: 5px;
    background-color: #011124;
}

#content {
    text-align: justify;
    width: 500px;
    margin-left: 230px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#content h2 {
    text-align: center;
    background-color: #011124;
    padding: 10px;
    margin-left: -20px;
    margin-right: -10px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

#content h2:first-child {
    margin-top: 33px
}

#content p {
    padding-top: 8px;
    padding-bottom: 8px;
}

blockquote {
    background-color: black;
    padding: 10px;
    margin-bottom: 15px;
    border-left: 5px solid green;
    margin-left: 20px;
}

footer {
    background-color: black;
    padding: 20px;
    overflow: hidden;
    width: 920px;
    border-radius: 8px;
}

footer a {
    text-decoration: none;
    color: white;
}

#footer_leftSideber {
    width: 220px;
    float: left;
}

#footer_rightSideber {
    width: 220px;
    float: right;
}

#footer_middleber {
    margin-left: 300px;
    width: 260px;
}

#footer_leftSideber ul li {
    padding: 6px;
    list-style-type: none;
}

#footer_leftSideber h2 {
    padding: 5px;
    border-bottom: 2px solid #dff3e1
}

#footer_middleber h2 {
    padding: 5px;
    border-bottom: 2px solid #dff3e1
}

#footer_rightSideber h2 {
    padding: 5px;
    border-bottom: 2px solid #dff3e1
}

#footer_rightSideber ul li {
    padding: 6px;
    list-style-type: none;
}

#footer_middleber ul li {
    padding: 6px;
    list-style-type: none;
}

#footer_middleber ul li a:hover {
    color: aqua;
    border-bottom: #3a81ae;
}

#copyright {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
}

.stick {
    position: fixed;
    top: 0px;
    z-index: 999999;
}